* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}
/* Nav Bars */
h2 {
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgb(12, 5, 93), rgb(98, 3, 3))
}

.nav-content {
    margin-top: 10vh;
    height: 15vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Game Board  */
.central-layout {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
    width: 400px;
    height: 400px;
    margin-top: 10vh;
    display: grid;
    gap: 8px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(45deg, blue, red)
}

h1 {
    /* border: solid red 1px; */
    margin-top: 10vh;
    width: 20vw;
    display: flex;
    justify-content: center;
}

.tile {
    background-color: white;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
}

.token {
    height: 43px;
    width: 43px;
}